{% extends "index.html" %}
{% load static %}
{% block content %}
<style>
    .itemarea{
        width: 90%;
        margin: auto;
        border: 4px solid #1B7B98;
        height: auto;
        color:rgb(94, 94, 216) !important;
        padding: 10px;
        
    }
    .itemarea h2{
        color: #ae943c;
        text-decoration: underline;
    }
    .itemarea input{
        width: 80%;
        padding: 7px;
        border: .4px solid #ae943c;

    }
</style>

<section id="home">
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                {% for v in venue  %}  
                <img class="img-responsive" style="height:600px" src="{{v.Venue_Image.url}}"
                    alt="slider">
            </div>    
        </div>
    </div>
</section>
<br><br>
<div class="container">
    <div class="row">
        
        
        <div class="col-md-6">
            <div class="itemarea text-center mt-3">
                
                <h2>Details</h2>
                Venue Name: {{v.Venue_Name}} <br>
                <!-- Price: {{v.Price}} <br> -->
                Number of Seats: {{v.Seat_Numbers}} <br>
                Discription: {{v.Venue_Discription}} <br>
            </div>
        </div>
{% endfor %}

        <div class="col-md-6">
            <div class="itemarea text-center">
<h2>Book Now</h2>
{% for message in messages  %}
        <h5 style="color:rgb(255, 60, 0)">{{message}}</h5> 
        {% endfor %}
        <h5 style="color:red">{{form.errors}}</h5>
        
<form method="post">
{% csrf_token %}


{% for field in form %}
{{field.label}}:
<br>
{{field}} <br>
    
{% endfor %}
    <br><br>
    <button type="submit" class="btn btn-warning">Book</button>
</form>
            </div>
        </div>
    </div>
</div>

    <br><br>
{% endblock %}
    